.reviews {
  margin-bottom: 55px;

  &__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #333333;
    text-align: center;
    margin-bottom: 55px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    border-radius: 66px 6px 6px 6px;
    background: #FFFFFF;
    display: none;
    margin-bottom: 50px;
    position: relative;

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  &__author-info {
    padding: 25px 25px 0 0;
  }

  &__author {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 25px;
    color: #333333;
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 5px;
  }

  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 5px;
    display: block;
  }

  &__price {
    display: inline-block;
    margin-right: 12px;
    font-size: 16px;
    line-height: 160%;
    position: relative;
    padding-left: 30px;

    &::before {
      content: '';
      position: absolute;
      width: 23px;
      height: 24px;
      top: 0;
      left: 0;
      background-image: url('../img/dollar-tag.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__time {
    display: inline-block;
    font-size: 16px;
    line-height: 160%;
    position: relative;
    padding-left: 32px;

    &::before {
      content: '';
      position: absolute;
      width: 23px;
      height: 24px;
      top: 0;
      left: 0;
      background-image: url('../img/time.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 160%;
    color: #4F4F4F;
    margin: 25px 25px 60px 25px;
    max-height: 325px;
    overflow: hidden;

    ul {
      margin: 15px 0;
    }

    li {
      margin-bottom: 15px;
    }
  }

  &__read-more {
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #2F80ED;
    bottom: 25px;
    left: 25px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -25px;
      width: 24px;
      height: 24px;
      background-image: url('../img/arrow-blue.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.load-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #333333;
  padding: 11px 20px;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #F2C94C;
  border-radius: 6px;
  background-color: transparent;
  display: block;
  cursor: pointer;
  transition: all .3s;
  text-align: center;

  &:hover {
    background-color: #F2C94C;
  }
}

@media (max-width: 970px) {
  .reviews {
    position: relative;

    &__inner {
      grid-template-columns: 1fr;
    }

    &__title {
      margin-bottom: 100px;
    }

    &__item {
      padding: 85px 15px 15px 15px;
      border-radius: 0;

      margin-bottom: 90px;

      &:nth-child(odd) {
        margin: 0;
        margin-bottom: 90px;
      }
    }

    &__avatar {
      position: absolute;
      left: 50%;
      top: -66px;
      transform: translateX(-50%);
      margin-right: 0;
    }

    &__text {
      margin: 0;
      margin-bottom: 50px;
    }

    &__read-more {
      left: 15px;
    }

    &__author-info {
      margin-bottom: 30px;
      padding: 0;
      width: 100%;
    }

    &__name {
      text-align: center;
      display: block;
    }

    &__caption {
      margin-bottom: 10px;
      text-align: center;
    }

    &__price-time {
      display: flex;
      justify-content: center;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 650px) {
  .reviews {
    &__name {
      font-size: 19px;
    }

    &__caption {
      font-size: 14px;
      color: #4F4F4F;
    }

    &__price-time {
      span {
        font-size: 14px;
      }
    }
    &__text {
      font-size: 14px;
    }
  }
}
